.capitals-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.message {
  font-size: 1.2em;
  color: #897;
  margin-top: 10px;
}